<p id="notice"><%= notice %></p>

<h1>Viitteiden tyypit</h1>

<table>
  <thead>
    <tr>
      <th>Nimi</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reftypes.each do |reftype| %>
      <tr>
        <td><%= link_to  reftype.name ,reftype%></td>
        <td><%= link_to 'Muokkaa', edit_reftype_path(reftype) %></td>
        <td><%= link_to 'Poista', reftype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Luo uusi tyyppi', new_reftype_path %>
