<p id="notice"><%= notice %></p>

<h1>Listing Reftypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reftypes.each do |reftype| %>
      <tr>
        <td><%= reftype.name %></td>
        <td><%= link_to 'Show', reftype %></td>
        <td><%= link_to 'Edit', edit_reftype_path(reftype) %></td>
        <td><%= link_to 'Destroy', reftype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reftype', new_reftype_path %>
