<p id="notice"><%= notice %></p>

<p>
  <h1>  <%= @reftype.name %></h1>
<%= link_to 'Muokkaa nimeä', edit_reftype_path(@reftype) %> |
  <%= link_to 'Lisää kenttä', '/reftypes/'+@reftype.id.to_s+'/new_field'%>
  <h2>Pakolliset kentät</h2>
  <table class="table table-striped">
    <tr>
      <th>Kenttä</th>
      <th></th>
    </tr>
    <% @required.each do |a| %>
    <tr>
      <td><%= link_to a.name, edit_ref_type_field_path(a.ref_type_fields[0]) %></td>
      <td><%= link_to 'Muokkaa', edit_ref_attribute_path(a) %> </td>
      <td><%= link_to 'Poista', a, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
    </tr>

    <% end %>
  </table class="table table-striped">
  <h2>Pakolliset kentätä (ja/tai)</h2>
<table>
<% @cat2.each do |a| %>
    <tr>
      <td><%= a.name %></td>
      <td><%= link_to 'Muokkaa', edit_ref_attribute_path(a) %> </td>
      <td><%= link_to 'Poista', a, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
    </tr>
<% end %>
</table>
<h2>Pakolliset kentätä (ja/tai)</h2>
<table class="table table-striped">
  <% @cat3.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= link_to 'Muokkaa', edit_ref_attribute_path(a) %> </td>
        <td><%= link_to 'Poista', a, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
      </tr>
  <% end %>
</table>
  <h2>Vapaavalintaiset kentät</h2>
<table class="table table-striped">
<% @optional.each do |a| %>
    <tr>
      <td><%= a.name %></td>
      <td><%= link_to 'Muokkaa', edit_ref_attribute_path(a) %> </td>
      <td><%= link_to 'Poista', a, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
    </tr>

<% end %>
</table>
</p>


<%= link_to 'Takaisin', reftypes_path %>
