<p id="notice"><%= notice %></p>

<h1>Listing Ref Meta</h1>

<table>
  <thead>
    <tr>
      <th>Ref</th>
      <th>Refattribute</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ref_meta.each do |ref_metum| %>
      <tr>
        <td><%= ref_metum.ref_id %></td>
        <td><%= ref_metum.ref_attribute.name if ref_metum.ref_attribute %></td>
        <td><%= ref_metum.value %></td>
        <td><%= link_to 'Show', ref_metum %></td>
        <td><%= link_to 'Edit', edit_ref_metum_path(ref_metum) %></td>
        <td><%= link_to 'Destroy', ref_metum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ref metum', new_ref_metum_path %>
