<%= form_for(@ref_type_field) do |f| %>
  <% if @ref_type_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ref_type_field.errors.count, "error") %> prohibited this ref_type_field from being saved:</h2>

      <ul>
      <% @ref_type_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reftype_id %><br>
    <%= f.select :reftype_id, options_from_collection_for_select(@reftypes,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label :ref_attribute_id %><br>
    <%= f.select :ref_attribute_id, options_from_collection_for_select(@ref_attributes,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label :obligatory %><br>
    <select id="ref_type_field_obligatory" name="ref_type_field[obligatory]">
      <option value="0">Valinnainen</option>
      <option value="1" selected>Pakollinen</option>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
