<p id="notice"><%= notice %></p>

<p>
  <strong>Tyyppi:</strong>
  <%= @ref_type_field.reftype.name%>
</p>

<p>
  <strong>Ref attribute:</strong>
  <%= @ref_type_field.ref_attribute.name %>
</p>

<p>
  <strong>Obligatory:</strong>
  <%= @ref_type_field.obligatory %>
</p>

<%= link_to 'Edit', edit_ref_type_field_path(@ref_type_field) %> |
<%= link_to 'Back', ref_type_fields_path %>
