<p id="notice"><%= notice %></p>
<p>Lisää:
<% @types.each do |type| %>
<%=link_to type.name ,'/uusi/'+type.name%>
<% end %>
</p>
<h2><%= link_to 'Lataa BibTeX-tiedosto', '/bibtexify' %></h2>
<h1>Viitteet</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tunnus</th>
      <th>Tyyppi</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @refs.each do |ref| %>
      <tr>
        <td><%= link_to ref.slug ,'refs/'+ref.slug %></td>
        <td><%= ref.reftype.name unless ref.reftype.nil? %></td>
        <td><%= link_to 'Muokkaa', edit_ref_path(ref) %></td>
        <td><%= link_to 'Poista', ref, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
