<p id="notice"><%= notice %></p>

<h1>Järjestelmässä olevat viitteet</h1>
<h2><%= link_to 'Lataa BibTeX-tiedosto', '/bibtexify' %></h2>
<table>
  <thead>
    <tr>
      <th>Tunnus</th>
      <th>Tyyppi</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @refs.each do |ref| %>
      <tr>
        <td><%= link_to ref.slug ,'refs/'+ref.slug %></td>
        <td><%= ref.reftype.name unless ref.reftype.nil? %></td>
        <td><%= link_to 'Muokkaa', edit_ref_path(ref) %></td>
        <td><%= link_to 'Poista', ref, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Luo viite', new_ref_path %>
