<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ref.slug %>
</p>

<p>
  <strong>Reftype:</strong>
  <%= @ref.reftype.name %>
</p>

<%= link_to 'Edit', edit_ref_path(@ref) %> |
<%= link_to 'Back', refs_path %>
