<p id="notice"><%= notice %></p>

<h1>Listing Ref Attributes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ref_attributes.each do |ref_attribute| %>
      <tr>
        <td><%= ref_attribute.name %></td>
        <td><%= link_to 'Show', ref_attribute %></td>
        <td><%= link_to 'Edit', edit_ref_attribute_path(ref_attribute) %></td>
        <td><%= link_to 'Destroy', ref_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ref attribute', new_ref_attribute_path %>
